<div class="login-form">
    <form name="form" (ngSubmit)="l.form.valid && onSubmit()" #l="ngForm">
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]='login.username' #username="ngModel" name='username' id='username' placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" [(ngModel)]='login.password' name='password' id='password' #password="ngModel" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div><br>
        <div class="alert alert-danger" *ngIf='isValid'>
            <strong>provide valid credentials</strong> .
          </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="#" class="pull-right">Forgot Password?</a>
        </div>        
    </form>
    <p class="text-center"><a routerLink='/signup'>Create an Account</a></p>
</div>
                               		                            