<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <a class="navbar-brand" href="#">
    
   Logo
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-5" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-list-5">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink='admin'>Admin</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='signup'>Signup</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='login'>Login</a>
      </li>
      
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>