<div class="container table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>acceptTerms</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let user of data'>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.acceptTerms}}</td>
          <td>{{user.password}}</td>
        </tr>
       
      </tbody>
    </table>
  </div>