<div class="signup-form">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
		<h2>Register</h2>
		<p class="hint-text">Create your account. It's free and only takes a minute.</p>
        <div class="form-group">
			<div class="row" style="flex-wrap: initial;">
				<div class="col-xs-6"><input type="text" class="form-control"  [(ngModel)]="model.first_name" #first_name="ngModel" name="first_name" placeholder="First Name" required="required"></div>
				<div class="col-xs-6"><input type="text" class="form-control" [(ngModel)]="model.last_name" #last_name="ngModel" name="last_name" placeholder="Last Name" required="required"></div>
			</div>        	
        </div>
        <div class="form-group">
        	<input type="email" class="form-control" [(ngModel)]="model.email" #email="ngModel"  name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" name="password" placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="model.confirm_password" #confirm_password="ngModel" name="confirm_password" placeholder="Confirm Password" required="required">
        </div>        
        <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox" [(ngModel)]="model.acceptTerms" #acceptTerms="ngModel" name="acceptTerms" id="acceptTerms" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a style="color: #007bff;" routerLink='/login'>Sign in</a></div>
</div>
                           